.edit-post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a30505;
}

.edit-post-card {
    background-color: #772424;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
}

.edit-post-card h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.edit-post-card input,
.edit-post-card textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 2px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.edit-post-card button {
    width: 40%;
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-post-card button:hover {
    background-color: #2d3742;
}

.btn-div{
    text-align: center;
}