.home-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    padding: 10px;
    margin: 10px;
}

.create-post{
    color: black;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: normal;
    font-size: larger;
}